
.vs/MailSender/v15/Server/sqlite3/storage.ide-wal
.vs/MailSender/v15/.suo
.vs/MailSender/v15/Server/sqlite3/db.lock
.vs/MailSender/v15/Server/sqlite3/storage.ide
.vs/MailSender/v15/Server/sqlite3/storage.ide-shm
